body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 14px;
}

#status {
  width: auto;
  min-width: 85px;
  text-align: center;
  margin-right: 20px;
}    

#remaining {
  width: auto;
  min-width: 85px;
  text-align: center;
}

#options {
  float:right;
}